body {
    padding: 0;
    overflow: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

a{
    color: #818181;
}

#map {
    position: absolute;
    right: 0px;
    left: 500px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 500px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 60px;
    background-color: #000000;
    color: #818181;
}

.source {
  position: absolute;
  left: 0px;
  width: 500px;
  top: 630px;
  overflow-y: auto;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

#menu {
    background: #000000;
    position: absolute;
    z-index: 1;
    left: 16px;
    top: 510px;
    border-radius: 3px;
    width: 180px;
    border: 1px solid rgba(0,0,0,0.4);
}

#menu a {
    font-size: 12px;
    color: #404040;
    display: inline;
    margin: 5px;
    padding: 10px;
    padding: 10px;
    border-width: 10px;
    border-width: #ffffff;
    text-decoration: none;
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #818181;
}

#menu a.active {
    background-color: #ffffff;
    color: #000000;
}

#menu a.active:hover {
    background: #ffffff;
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
    opacity: 0.6;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.map-overlay {
    font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 18%;
    height: 10px;
    top: 30px;
    left: 520px;
    padding: 0px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    font:12px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    opacity: 0.6;
}

.map-overlay h2 {
    line-height: 18px;
    display: block;
    margin: 0 0 0px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}
